
h1 {
    text-align: center;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-box {
    background-color: rgb(195, 231, 231);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.info-box h2 {
    color: #264557;
}

.info-box p {
    color: brown;
}

.info-boxx {
    background-color: rgb(223, 211, 186);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.container1 {
    background-color: rgb(216, 211, 211);
    
}